---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ '/' | alwaysProductionUrl }}</loc>
  </url>
  <url>
    <loc>{{ '/about/' | alwaysProductionUrl }}</loc>
  </url>
  <url>
    <loc>{{ '/blogs/' | alwaysProductionUrl }}</loc>
  </url>
    <url>
    <loc>{{ '/legal/' | alwaysProductionUrl }}</loc>
  </url>
    <url>
    <loc>{{ '/privacy/' | alwaysProductionUrl }}</loc>
  </url>
</urlset>