---
layout: page
eleventyExcludeFromCollections: true
pagination:
  data: collections.blogPosts
  size: 10
  alias: items
permalink: "{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber + 1 }}{% endif %}/"
---

<h1>Latest News</h1>

{% for item in items %}

<h2><a href="{{ item.link }}">{{ item.title }}</a></h2>

<p>Published by <img src="{{ item.favicon }}" /> <a href="{{ item.author.url }}">{{ item.author.name }}</a> on {{ item.published }}</p>

<p>{{ item.description | safe }}</p>

{% endfor %}
