---
layout: base
eleventyExcludeFromCollections: true
pagination:
  data: collections.articles
  size: 10
  alias: items
permalink: "{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1 }}{% endif %}/"
---

<header class="main-heading">
  <h2>Latest blog posts &darr;</h2>
</header>

{% for item in items %}
  {% set link = item.link %}
  {% set title = item.title %}
  {% set avatar = item.avatar %}
  {% set authorUrl = item.author.url %}
  {% set authorName = item.author.name %}
  {% set published = item.published|readableDate %}
  {% set description = item.description | safe %}
  {% include "partials/post.njk" %}
{% endfor %}

{%- set totalPages = pagination.pages|length -%}
{%- set currentPage = pagination.pageNumber + 1 -%}
{%- set previousHref = pagination.href.previous -%}
{%- set nextHref = pagination.href.next -%}{% include "partials/pagination.njk" %}