.menu-wrapper {
  font-family: var(--sans-serif);
  background-color: #191818;
  color: #ededed;
  margin-bottom: 1em;
  -webkit-font-smoothing: antialiased;
  height: 44px;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
  display: flex;
  align-items: center;

  li {
    line-height: 1;
  }

  .site-title {
    display: inline-block;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
    color: #bbb;
    height: 100%;
  }

  a.pure-menu-link {
    font-family: var(--sans-serif);
    color: #999;

    &:hover,
    &:focus {
      color: #ededed;
      background-color: transparent;
    }
  }

  &.open {
    height: 12rem;
  }
}

.custom-menu-3 {
  text-align: right;
}

.custom-toggle {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.custom-toggle .bar {
  background-color: #777;
  display: block;
  width: 2rem;
  height: 2px;
  position: absolute;
  top: 22px;
  right: 7px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

.custom-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 47.999em) {
  .custom-menu-3 {
    text-align: left;
  }

  .custom-toggle {
    display: block;
    height: 44px;
  }
}
