body {
  font-size: var(--base-size);
}

h1,
h2,
h3 {
  font-family: var(--sans-serif-font-family);
  line-height: 1.2;

  a {
    color: var(--black);
  }
}

h2 {
  font-size: 2.125rem;
}

p,
li {
  font-family: var(--serif-font-family);
  font-size: 1.25rem;
  line-height: 1.9;
}
