:root {
  --serif-font-family: Georgia, Times, "Times New Roman", serif;
  --sans-serif-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  --base-size: 16px;
  --black: #222;
  --white: #f2f2f2;
}
