<div class="bloglist">
<ul>
{% for site in collections.sites %}
  {% include "partials/bloglist-item.njk" %}
{% endfor %}
</ul>
</div>
<p><small><a href="{{ siteConfig.author.blog }}">My own blog</a> is there too but those folks above are cooler than me.</small></p>