<article class="article">
<h2 class="post-title"><a href="{{ link | addRef }}">{{ title }}</a></h2>

<div class="post-meta">
  <a href="{{ authorUrl | addRef }}" class="author">
    <img width="18" height="18" src="{{ avatar }}" alt="{{ authorName }}'s avatar" />
    <span>{{ authorName }}</span>
  </a>
  <time>
    <img width="20" height="20" class="calendar-icon" src="/images/calendar.svg" alt="Calendar icon" />
    <span>{{ published }}</span>
  </time>
</div>
<p>{{ item.description | safe }}</p>
</article>