<article class="article">
<h2 class="post-title"><a href="{{ link | addRef }}">{{ title|safe }}</a></h2>

<div class="post-meta">
  <a href="{{ authorUrl | addRef }}" class="author">
    <img width="18" height="18" src="{{ avatar }}" alt="{{ authorName }}'s avatar" />
    <span>{{ authorName }}</span>
  </a>
  <time>
    {% include "svg/calendar.svg" %}
    <span>{{ published }}</span>
  </time>
</div>
<p>{{ item.description | safe }}</p>
</article>