@import "vendors/all";
@import "partials/all";

body {
  background: var(--white);
  color: var(--black);
}

.container {
  max-width: 55rem;
  margin: 0 auto;
  padding: 0 1em;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.article {
  padding: 2rem 0;
  border-bottom: 1px solid #bbb;
}

.post-title {
  margin-bottom: 2rem;
}

.post-meta {
  display: flex;
  align-items: center;
  margin: 20px 0 30px;

  .author {
    background: #d6d6d6;
    color: #333;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    margin-right: 20px;
    line-height: 1;
    font-size: 16px;
    text-decoration: none;
    transition: background 0.1s;

    &:hover,
    &:focus {
      background: #dddddd;
    }

    img {
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }

    span {
      display: inline-block;
      line-height: 1;
      height: 100%;
    }
  }
}
